/*=========MAIN-SLIDE==========*/

.main-slide .thumb{
	height:550px;
}

.main-slide .slide-unit{
	position: relative;
}

.main-slide .slide-unit .info{
	position: absolute;
	bottom:30%;
	padding-left:110px;
	
}
.main-slide .slide-unit .info .name1{
	display: block;
	font-size: 16px;
	color: #333;
	margin-bottom: 30px;
}
.name1{
	position:relative;
	padding-bottom:5px;
}
.name1:before{
	position:absolute;
	bottom:0;
	content:"";
	height:2px;
	width:10%;
	background:#333;
}

.info .name2{
	display: block;
	font-size: 26px;
	color: #f47920;
	margin-bottom: 30px;
}

.main-slide .slide-unit .info .name3{
	margin-bottom:20px;
}
.main-slide .slide-unit .info .name3 .text1{
	font-size: 44px;
	color: #3c2415;
}
.main-slide .slide-unit .info .name3 .text2{
	font-size: 44px;
	color: #f47920;
}
.readmore .readmore-btn{
	 display: inline-block;
	 padding: 5px 15px;
	 border-radius: 50px;
	background: -moz-linear-gradient(left, rgba(226,5,46,1) 0%, rgba(252,178,4,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,5,46,1)), color-stop(100%, rgba(252,178,4,1)));
	background: -webkit-linear-gradient(left, rgba(226,5,46,1) 0%, rgba(252,178,4,1) 100%);
	background: -o-linear-gradient(left, rgba(226,5,46,1) 0%, rgba(252,178,4,1) 100%);
	background: -ms-linear-gradient(left, rgba(226,5,46,1) 0%, rgba(252,178,4,1) 100%);
	background: linear-gradient(to right, rgba(226,5,46,1) 0%, rgba(252,178,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2052e', endColorstr='#fcb204', GradientType=1 );;
 }
 
 /*========HOME-INTRO===========*/
 
 .home-intro {
	 position:relative;
	 background: #e8e3e3;
 }
 
 .home-intro .thumb{
	 width:710px;
	 height:550px;
	 padding: 100px 100px;
 }
 .home-intro .info{
	position: absolute;
	bottom:30%;
	padding-left:35px;
	left:50%;
	
}
 .home-intro .info .name4{
	display: block;
	font-size: 26px;
	color: #333;
	margin-bottom: 30px;
 }
 .home-intro .info .description{
	 color: #333;
 }
 
.heading-1{
	position:relative;
	text-align:center;
	font-size:26px;
	padding-bottom:10px;
	padding-top:20px;
}

.heading-1:before{
	content:'';
	display:block;
	width:32px;
	height:14px;
	background:url(/resources/img/upload/Layer-60.png) no-repeat;
	position:absolute;
	top:intial;
	left:50%;
	bottom:-10px;
	transform:translate(-50%, 0);
	padding-right: 10px;
	padding-left: 10px;
	z-index:5;
}

.heading-1:after {
    content: '';
    display: block;
    position: absolute;
    top: initial;
    left: 35%;
	margin-top: 20px;
    bottom: -5px;
    z-index: 1;
    width: 30%;
    height: 2px;
    background: #f47920;
}
 /*========HOME-PRODUCT==============*/
 
 .pagehome-product .product-body .name0{
	display: block;
	font-size: 16px;
	color: #333;
	margin-bottom: 30px;
}
 .name0{
	position:relative;
	padding-bottom:5px;
}
.name0:before{
	position:absolute;
	bottom:0;
	content:"";
	height:5px;
	right:0%;
	width:100%;
	background:#f47920;
}

/*FOOTER*/
.ft-top{
	padding:20px 40px;
}